body {
    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
    margin: 8px;
}

* {
    box-sizing: border-box;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    margin-bottom: 20px;
}

li h3 {
    color: steelblue;
}
